services: 
  mongo-latest:
    image: mongo:latest
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME : root
      MONGO_INITDB_ROOT_PASSWORD : root
    
    volumes:
    - D:\RONY\DOCKER\TEST_1\storage:/data/db

  mongo-express:

    image: mongo-express:latest

    ports:
    - "8081:8081"

    environment:
      ME_CONFIG_MONGODB_SERVER : mongo-latest
      ME_CONFIG_MONGODB_ADMINUSERNAME : root
      ME_CONFIG_MONGODB_ADMINPASSWORD : root
      ME_CONFIG_BASICAUTH_USERNAME : root
      ME_CONFIG_BASICAUTH_PASSWORD : root
      # ME_CONFIG_MONGODB_URL : "mongodb://root:root@mongo-latest:27017"  # both works
      ME_CONFIG_MONGODB_URL : mongodb://root:root@mongo-latest:27017/     # both works

  test-app:
    image: test-app:1.0

    ports:
    - "5050:3000"
    # - "5050:5050"

    environment:
      PORT : 3000
      MONGO_DB_USERNAME : root
      MONGO_DB_PASSWORD : root